<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>VotingInfo.ca</h1>
                <h2>Democracy demands informed voters.</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">  
    <h3>What is VotingInfo.ca?</h3>
    <p>
        I created this website to act as a gateway to sources of information potential
        voters would find useful in order to make informed decisions.  The goal of the 
        website is to provide a non-biased representation of all parties by publicly 
        sourcing assistance in compiling the information from many external resources.
    </p>

    <p>The website aims to meet and provide solutions to these problems voters face today:</p>
    <ul>
        <li>
            Inform voters on candidate political representations on core questions posed
            by voters.
        </li>
        <li>
            Inform politicians about public opinion and desires and how voters wish to see
            questions answered.
        </li>
        <li>
            Provide links to party/organization sites, platform summaries, and public 
            communications to enable informed voting.
        </li>
    </ul>

    <p>
        When I went to perform my civic duty of voting I felt as though I was not getting
        the information I needed in order to make an informed decision on who I was 
        electing and was picking my representative by party affiliation only.  Many new
        voters may feel like they do not have definitive sources for information or
        ways they can compare their political views to potential candidates.  This website
        aims to open the flood gates of communication between the politicians and their
        electorate which should in turn improve voter turn out and ensure correct public
        representation.        
    </p>
    <p>
        This website is not run by the government, or any political parties.  The intended
        purpose of the website is to provide a fair and unbiased representation, to connect
        voters to the key information they need to learn more about the choices they will
        be making.
    </p>
</div>
