<?xml version="1.0"?>
<ConfigFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <StoredProcOutputDir>.\Database\SQL\Alter\06-Procs\00-Generated</StoredProcOutputDir>
  <ContractOutputDir>.\Database\Contracts</ContractOutputDir>
  <SharePointBdcOutputDir>.\SharePoint\ExternalContentTypes</SharePointBdcOutputDir>
  <LogicOutputDir>.\Database\Logic</LogicOutputDir>
  <ServiceOutputDir>.\WebSite\Services\Generated</ServiceOutputDir>
  <ServicePermissionSqlOutputDir>.\Database\SQL\Alter\09-DefaultData\Auth</ServicePermissionSqlOutputDir>
  <JavaScriptViewsOutputDir>.\WebSite\Scripts\Views\Gen</JavaScriptViewsOutputDir>
  <ModelOutputDir>.\Client.WindowsPhone\Models;.\Client.Silverlight\Models;.\Client.WPF\Models</ModelOutputDir>
  <ViewModelOutputDir>.\Client.WindowsPhone\ViewModels;.\Client.Silverlight\ViewModels;.\Client.WPF\ViewModels</ViewModelOutputDir>
  <MetroModelOutputDir>.\Client.Metro\Web\Models</MetroModelOutputDir>
  <MetroViewModelOutputDir>.\Client.Metro\Web\ViewModels</MetroViewModelOutputDir>
  <JavaModelOutputDir>.\Client.Android\Models</JavaModelOutputDir>
  <JavaViewModelOutputDir>.\Client.Android\ViewModels</JavaViewModelOutputDir>
  <DatabaseScriptOutputDir>.\Database\SQL</DatabaseScriptOutputDir>
  <JavaScriptViewModelOutputDir>.\WebSite\Scripts\ViewModels\Gen</JavaScriptViewModelOutputDir>
  <DatabaseStructureOutputFile>.\Database\Structure.xml</DatabaseStructureOutputFile>
  <DatabaseName>VotingInfo</DatabaseName>
  <Schemas>Client,Data,Auth</Schemas>
  <ConnectionString>Data Source=.;Initial Catalog=VotingInfo;Integrated Security=SSPI;</ConnectionString>
  <DeploymentConnectionString>Data Source=.;Initial Catalog=VotingInfo;User Id=VotingInfoUser;Password=ThisIsASecurePassw0rd!;</DeploymentConnectionString>
  <ContractNamespace>VotingInfo.Database.Contracts</ContractNamespace>
  <SharePointBdcNamespace>VotingInfo.SharePoint.ExternalContentTypes</SharePointBdcNamespace>
  <LogicNamespace>VotingInfo.Database.Logic</LogicNamespace>
  <ServiceNamespace>VotingInfo.WebSite.Services</ServiceNamespace>
  <ViewModelNamespace>VotingInfo.Client.ViewModels</ViewModelNamespace>
  <ModelNamespace>VotingInfo.Client.Models</ModelNamespace>
  <MetroViewModelNamespace>VotingInfo.Client.Metro.Web.ViewModels</MetroViewModelNamespace>
  <MetroModelNamespace>VotingInfo.Client.Metro.Web.Models</MetroModelNamespace>
  <JavaViewModelNamespace>com.votinginfo.viewmodels</JavaViewModelNamespace>
  <JavaModelNamespace>com.votinginfo.models</JavaModelNamespace>
  <ProcsToNotGenerate>[Schema.Table_ProcName]
[Schema.Table_OtherProcName]</ProcsToNotGenerate>
  <GenerateForeignKeyReferences>true</GenerateForeignKeyReferences>
  <GenerateDatabaseScripts>true</GenerateDatabaseScripts>
  <GenerateProcedures>true</GenerateProcedures>
  <GenerateCUDProceduresForViews>false</GenerateCUDProceduresForViews>
  <GenerateContracts>true</GenerateContracts>
  <GenerateSharePointBdcModel>false</GenerateSharePointBdcModel>
  <GenerateLogic>true</GenerateLogic>
  <GenerateLogicExtensions>true</GenerateLogicExtensions>
  <GenerateServices>true</GenerateServices>
  <GenerateServicePermissionSql>true</GenerateServicePermissionSql>
  <GenerateMetroModels>false</GenerateMetroModels>
  <GenerateMetroViewModels>false</GenerateMetroViewModels>
  <GenerateModels>false</GenerateModels>
  <GenerateViewModels>false</GenerateViewModels>
  <GenerateJavaModels>false</GenerateJavaModels>
  <GenerateJavaViewModels>false</GenerateJavaViewModels>
  <GenerateJavaScriptViews>true</GenerateJavaScriptViews>
  <GenerateJavaScriptViewModels>true</GenerateJavaScriptViewModels>
  <GenerateLogicLevelCaching>true</GenerateLogicLevelCaching>
  <GenerateByUserProcs>false</GenerateByUserProcs>
  <ServiceIgnoreTables>Auth.*,Client.TableVersion,DATA.TableVersion</ServiceIgnoreTables>
  <OnlyUseViewsForServices>true</OnlyUseViewsForServices>
  <ForceOverwrite>true</ForceOverwrite>
  <DefaultLogicLevelCacheExpire>300</DefaultLogicLevelCacheExpire>
</ConfigFile>