<script src="Scripts/Views/js/VotingInfo.Client.Organizations.controller.js"></script>
<div data-ng-controller="VotingInfoClientOrganizationsController" >
    
        
    <div data-ng-show="vm.IsLoading">
        <img src="/Content/images/loading.gif"/> Loading...
    </div>
        
    <div data-ng-show="!vm.IsLoading" class="organizations">
        <div data-ng-repeat="Item in vm.Items" data-ng-mouseenter="vm.MoveIndex($index)">
            <div class="caption"><a href="#/org?id={{Item.OrganizationId}}">{{Item.OrganizationName}}</a></div>
            <div class="subtext"><a href="{{Item.SourceUrl}}" target="_blank">{{Item.SourceUrl}}</a></div>
        </div>
    </div>
   
    <style>
        .organizations .caption {
            margin-top: 1em;
            font-size: 12pt;
            
        }
        .organizations .subtext {
            font-size: 10pt;
            text-indent: 1em;
        }
    </style>

</div>