<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunAllSql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>

      <section name="sqlVarsConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <connectionStrings>
        <add name="RunAllSql.Properties.Settings.ConnectTo" connectionString="Data Source=.;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <RunAllSql.Properties.Settings>
            <setting name="ScriptDirectory" serializeAs="String">
                <value>..\SQL\</value>
            </setting>
          <setting name="CompileToSingleScript" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="CompileToScriptFileName" serializeAs="String">
            <value>..\..\Install\Files\SQL\{0}\Database.sql</value>
          </setting>
        </RunAllSql.Properties.Settings>
    </applicationSettings>


  <!-- These values will be replaces within the script.  Your vars in the script should start with '$'-->
  <sqlVarsConfig file="SqlVars.config" />

</configuration>