<?xml version="1.0" encoding="utf-8" ?>

<sqlVarsConfig>
  <add key="DatabaseName" value="VotingInfo"/>
  <add key="AccountName" value="BUILTIN\Administrators"/>
  <add key="UseWindowsAuth" value="1"/>
  <add key="SQLAccountPassword" value="xxxfakexxx"/>
  <add key="IncludeTestData" value="1"/>
</sqlVarsConfig>